{% extends "user/base_user.html" %}
{% block title %}{{"Velkommen"}}{% endblock %}

{% block styleinline %}
<link rel="stylesheet" href="fortawesome/font-awesome-4.5.0/css/font-awesome.min.css">
<style>
        #profil, table, #info{
            vertical-align: top;
            display: inline-block;
            margin-top: 1em;
        }

        #profil{
            width: 200px;
            text-align: center;
        }

        table{
            width: calc(100% - 210px - 40%);
            padding-left: 10px;
        }

        table tr td input{
            width: 60px;
            padding: 5px 5px 5px 0px;
            border: 0;
            border-bottom: 2px solid black;
            outline: 0;
            margin-bottom: 0.5em;
        }
        table tr td:first-of-type input{
            width: 350px;
            width: initial;
        }

        #info{
            width: 40%;
            padding-top: 2em;
        }
        #info h4{
            margin-bottom: 0.5em;
        }

        #thumb{
            margin-top: 2em;
            text-align: center;
            display: inline-block;
        }

        #thumb i, #thumb p{
            display: block;
        }
    </style>
{% endblock %}

{% block content %}


<div id="container">
    <!--<p id="p">Lage en bruker</p>-->
    <div id="profil">
        <i class="fa fa-user fa-3x"></i>
        <p>Min profil</p>
    </div><table>
        <tbody>
            <tr>
                <td colspan=2><input type="text" name="fornavn" maxlength=300 placeholder="Fornavn" /></td>
            </tr><tr>
                <td colspan=2><input type="text" name="etternavn" maxlength=300 placeholder="Etternavn" /></td>
            </tr><tr>
                <td colspan=2><input type="text" name="fodselsdag" maxlength=300 placeholder="F&oslash;dselsdag (dd.mm.&aring;&aring;&aring;&aring;)" /></td>
            </tr><tr>
                <td colspan=1><input type="text" name="gateadresse" maxlength=300 placeholder="Gateadresse" /></td>
                <td><input type="text" maxlength=100 name="gatenr" placeholder="Nr." /></td>
            </tr><tr>
                <td colspan=2><input type="text" name="skole" maxlength=300 placeholder="Skole" /></td>
            </tr><tr>
                <td colspan=2><input type="text" name="telefon" maxlength=300 placeholder="Telefon" /></td>
            </tr><tr>
                <td colspan=2><input type="text" name="epost" maxlength=300 placeholder="E-post" /></td>
            </tr><tr>
                <td colspan=2><input type="text" name="nick" maxlength=300 placeholder="Nick" /></td>
            </tr>
        </tbody>
    </table><div id="info">
        <h4>Voksengodkjennelse</h4>
        <p>Tekst om at vi trenger voksengodkjennelse for at man skal kunne l&aring;ne.</p>
        <div id="thumb">
            <i class="fa fa-thumbs-o-up fa-3x"></i>
            <span>Godkjenn n&aring;</span>
        </div>
    </div>
    <span id="span"><a href="profile_menu.html"><i class="fa fa-arrow-left"></i></a> &nbsp; <a href="start.html"><i class="fa fa-times"></i></a></span>
</div>





{% endblock %}




