{% extends "user_interface/base_user.html" %}
{% block title %}{{"Velkommen"}}{% endblock %}

{% block styleinline %}
<link rel="stylesheet" href="fortawesome/font-awesome-4.5.0/css/font-awesome.min.css">
<style>
        p:first-of-type{
            float:right;
        }

        p:nth-of-type(2){
            padding-top: 20vh;
            width: 50%;
        }

        img{
            width: 300px;
            height: 150px;
            display: block;
            margin-top: 20px;
        }

        span{
            position: absolute;
            bottom: 0;
        }

    </style>
{% endblock %}

{% block content %}

<div id="container">
    <p>Levere</p>
    <p>Melding som sier at man skal holde objektet sitt der man skal holde objektet sitt.</p>
    <img />
    <span><a href="start.html"><i class="fa fa-arrow-left"></i></a> &nbsp; <a href="start.html"><i class="fa fa-times"></i></a></span>
</div>

{% endblock %}