{% extends "user/base_user.html" %}
{% block title %}{{username}}{% endblock %}
{% block content %}

<h2>Brukernavn: {{username}}</h2>

<b>User ID:</b> {{details.userID}}</b>
<br>

<b>Fornavn:</b> {{details.firstname}}
<br>

<b>Email:</b> {{details.email}}
<br>

<b>RFID:</b> {{rfid}}
<br>


<p></p>
<br>
<br>

{% if books %}
    <table style="width: 1200px;margin: 5px;">
      <tr>
        <th>
          Tittel
        </th>
        <th>
          Utlånsdato
        </th>
        <th>
          Innleveringsdato
        </th>
        <th>
          RFID
        </th>
        <th>
          ISBN
        </th>
      </tr>
      {% for book in books %}


       <tr>
            <td> BOKTITTEL </td>
            <td> {{ book["outDate"] }} </td>
            <td> {{ book["inDate"] }} </td>
            <td> {{ book["RFID"] }} </td>
            <td> {{ book["ISBN"] }} </td>

       </tr>
    {% endfor %}
    </table>
{% endif %}


<a href="{{ url_for('create_user') }}" class="btn btn-default">Legg til bruker</a>

{% endblock %}
