{% extends "base.html" %}
{% block title %}{{"Opprett bruker"}}{% endblock %}


{% block content %}

<h1><span class="label label-primary">Opprett en bruker</span></h1>
<br>


<form method="POST" action="{{ url_for('create_response') }}">

    <label for="username">Brukernavn:</label>
    <input type="text" name="username" /><br />

    <label for="rfid">RFID:</label>
    <input type="number" name="rfid" /><br />

    <label for="firstname">Fornavn:</label>
    <input type="text" name="firstname" /><br />

    <label for="email">Email:</label>
    <input type="text" name="email" /><br />

    <input type="submit" value="Go!" />

    </form>

<!---<a href="{{ url_for('create_response') }}" class="btn btn-default">Logg inn</a>--->

{% endblock %}
