{% extends "base.html" %}
{% block title %}{{username}}{% endblock %}
{% block content %}

<h2>Brukernavn: {{username}}</h2>

{% if userID %}
<b>User ID:</b> {{userID}}
{% endif %}

<br>

{% if firstname %}
<b>Fornavn:</b> {{firstname}}
{% endif %}

<br>

{% if email %}
<b>Email:</b> {{email}}
{% endif %}

<br>

{% if rfid %}
<b>RFID:</b> {{rfid}}
{% endif %}

<br>
<br>

<table style="width: 1200px;margin: 5px;">
  <tr>
    <th>
      Tittel
    </th>
    <th>
      Utlånsdato
    </th>
    <th>
      Innleveringsdato
    </th>
    <th>
      RFID
    </th>
    <th>
      ISBN
    </th>
  </tr>
  {% for book in books %}


   <tr>
        <td> BOKTITTEL </td>
        <td> {{ book["outDate"] }} </td>
        <td> {{ book["inDate"] }} </td>
        <td> {{ book["RFID"] }} </td>
        <td> {{ book["ISBN"] }} </td>

   </tr>
{% endfor %}
</table>

<a href="{{ url_for('create_user') }}" class="btn btn-default">Legg til bruker</a>

{% endblock %}
