{% extends "admin/base_admin.html" %}
{% block title %}{{"Oversikt over lånte bøker"}}{% endblock %}



{% block content %}

<script>
    var $rows = $('#table tr');
    $('#search').keyup(function() {

        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;

        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            return !reg.test(text);
        }).hide();
    });
</script>

<br>
<br>

{% if history %}
    <div style="width: calc(100vw - 200px);margin-left: 200px;">
    <input id="input" type="text" id="search" placeholder="Type to search">
    <table>
      <tr>
        <th>
          Tittel
        </th>
        <th>
          Brukernavn
        </th>
        <th>
          Utlånsdato
        </th>
        <th>
          Innleveringsdato
        </th>

      </tr>
      {% for lent_book in history %}


       <tr style="width:100%">
            <td> {{ lent_book["book_title"] }} </td>
            <td> {{ lent_book["username"] }} </td>
            <td> {{ lent_book["outDate"]}} </td>
            <td> {{ lent_book["inDate"] }} </td>

       </tr>
    {% endfor %}
    </table>
</div>
{% endif %}


{% endblock %}
