.container {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
tr {
    border: 1px solid black;
}
#header {
    width: 100%;
    height: 180px;
    padding: 5px;
    background-color: #4bffe4;
    color: #ff0000;
}
#header p {
    font-size: 42px;
    margin: auto;
}
#register {
    width: 90%;
    height: 100%;
    padding: 5px;
    margin: 10px;
    background-color: #6bff9a;
    color: #ff5581;
    border-radius: 20px;
    box-shadow: #888888 28px;
    vertical-align: center;
}
#login {
    width: 90%;
    height: 100%;
    padding: 5px;
    margin: 10px 10px 10px 20px;
    background-color: #ffeb00;
    color: #583eff;
    border-radius: 20px;
    box-shadow: #888888 28px;
    vertical-align: center;
}
.text {
    margin: auto;
    vertical-align: center;
    padding: 20px;
    height: 100%;
}
.title {
    font-size: 36px;
}
.info {
    font-size: 24px;
}
#login_form, #register_form {
    display: none;
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
    /* Magnus Holtet tar mad copyright
    for dette kunstverket av CSS */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}